.Home{
  height:100%;
  width: 100%;
 
 

}
.LogSignup{
  height:3rem;
  width:7rem;
  text-align:center;
  align-content:center;
  background-color:darkorange;
  border-radius:12px;
}

.LogSignup:hover{
  
  height:3rem;
  width:7rem;
  text-align:center;
  align-content:center;
  background-color:rgb(0, 255, 68);
  border-radius:12px;

}
*{
 
 
  text-decoration: none;

}
.logSignbox{
  width:20rem;
  height:4rem;
  justify-content: space-around;
   color:black;
    display:flex;
   flex-direction:row;
}

.Lis button{
  visibility: hidden;
}

.ListingBox::-webkit-scrollbar {
  width: 0px;
  height: 0px;}
nav{

  height: 6rem;
 
  padding-left: .2rem;
  width: 98vw;
  margin-top: 0;
  margin: 0;
  display: flex;
  background-color:#eff1f4;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.009);
  border-radius: 10px;
  align-items: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

nav div{
  height: 5rem;
  width: 7rem;
  font-size: 1rem;
  margin: 0 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  align-items: center;
}

#search{
   width: 30rem;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   font-size: 1rem;
}
#search input{
  border: none;
  font-size: .85rem;
  border-radius: 20px;
}

nav div input{
  height: 3.5rem;
  border-radius:10px ;
  width: 35rem;
  text-align: center;
}

/* listing card */


.ListingBox{
  
   height: 100%;
   width: 100%;
   overflow-y: auto;
   margin-bottom: 4rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   /* background-color: #292727f8; */
  
}


.Lis{
  
  margin-top: 3rem;
   height: 26.2rem;
   width: 20rem;
   /* border: 2px solid rgba(0, 0, 0, 0.279); */
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  background-color: #e3d5d569;
   font-size: 1rem;
  font-family: monospace;
   margin-bottom: 2rem;
}

.Lis img{
   height: 18rem;
   width: 18rem;
 
   border-radius: 8px;
}

.Lis p{
  display: flex;
  flex-wrap: wrap; 
  color: green;

}




.review{
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  height: 12rem;
  width: 97%;
  border: 2px solid #cdcdecc7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
 
  font-size: 1.2rem;

}

.review input{
     margin-top: 1.5rem;
     margin-bottom: .75rem;
     font-size: 1.5rem;
     font-family: Georgia, 'Times New Roman', Times, serif;
     height: 3rem;
     width: 70%;
     border: none;
     border-bottom: 2px solid #161616;
     
}


.review button{
   height: 4rem;
   width: 10rem;
   border-radius: 10px;
   margin-right: 2rem;
   border: none;
   font-family: monospace;
   font-size: larger;


}
/* footer */

.review button:hover{
  height: 4rem;
  background-color: #203ccd5d;
  width: 10rem;
  border-radius: 10px;
  margin-right: 2rem;
  border: none;
  font-family: monospace;
  font-size: larger;


}

.operator{
  border-top: 2px solid rgba(184, 135, 11, 0.219);
  height: 6rem;
  width:99%;
   position: fixed;
   margin-left: 0;
  bottom: .2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
  background-color:#18171700;
  
}

.operator button{
  font-family: monospace;
  height:4rem;
  border: 2px solid rgba(0, 0, 0, 0.356);
  font-weight: 900;
  border-radius: 15px;
  width: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: rgb(250, 244, 244);

}

.operator button:hover{
  height:4rem;
  border: 2px solid rgb(102, 255, 0);
  border-radius: 15px;
  width: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color:rgb(255, 180, 17);
  font-size: 1rem;

}
.contact{
  
  background-color: rgba(237, 221, 221, 0.603);
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 border: 2px solid rgba(0, 0, 0, 0.019);
 border-radius: 10px;
  
 
  
}
.contact_img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  margin: 0.7rem;

 
  width:30% ;
  background-image: url('https://www.asfera.in/assets/images/contact/contact-us.png');
  background-size: contain;
  background-repeat: no-repeat;

}
.contact-info{
  height: 100%;
  margin: .7rem;
  width:48% ;
 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

}
.conatact_msg{
  height: 7rem;
 
  width:100% ;
  /* border-right: 2px solid rgba(0, 0, 0, 0.196); */
  margin: .25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.25rem;
 
}
.social-media{
  height: 5rem;
  width: 60%;
 
  margin: 0.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.contact_email{
  height: 2rem ;
  width: 100%;
 
 
  margin: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.space{
  height: 2rem;
}

.addLis{
  margin-top: 1rem;
  margin-left: .75rem;
  height: 70rem;
  width: 99%;
  border: 2px solid black;
 
}

.add-detail{
 
   height:7rem ;
   width: 49rem;
   font-size: 1.5rem;
   text-transform: capitalize;
   margin-left: 2rem;
   display: flex;
  justify-content: space-around;
  align-items: center;

}
.add-detail input{
  height: 3rem;
  width: 40rem;
  margin-left: 1rem;
  border-radius: 8px;
  border-color: greenyellow;
}
.addLis button{
 
  height: 3rem;
  width: 8rem;
  border-radius: 10px;
  margin-left: 2rem;
  font-size: 1.5rem;
}

input:focus{
   border: none;
}
.addLis button:hover{
  background-color: greenyellow;
  height: 3rem;
  width: 8rem;
  border-radius: 10px;
  margin-left: 2rem;
  text-transform: capitalize;
  font-size: 1.5rem;
}



/* listing page */
.lists{
  padding: 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.lisdetail h1{
  margin-bottom: 2rem;
   font-size: 2.5rem;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-decoration: underline;
   text-decoration-color: #16161610;
   width: max-content;
    border-radius: 15px;
}

.lisdetail h2{
 
   
   font-size: 1.55rem;
   font-family: monospace;
   margin-bottom: 3rem;
}

.lisdetail p{
  font-size: 1.2rem;

 
}

.lisdetail span{
    border: 2px solid rgba(0, 0, 0, 0.026);
    border-radius: 10px;
  

}

.lis_img{
width: 60%;
 
 border-radius: 10px;
 display: flex;
 justify-content: center;
  
}
.lis_img img{
  width: 30rem;
  height: 30rem;
  border-radius: 15px;
 

}
.lisdetail{
 display: flex;
 flex-direction: column;
 
  margin-left: 2rem;
  padding: 15px;
}

.btn{
 margin-top: 5rem;
  height: 10rem;

  width:90% ;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn button{
  margin: 0px;
   height: 4rem;
   width: 10rem;
   border: none;
   background-color: rgb(109, 237, 4);
   margin-right: 7rem;
   border-radius: 25px;
 
   color: #181717;
   font-size: 20px;

   font-family: monospace;
}

.btn button:hover{
  margin: 0px;
  height: 4.5rem;
  width: 10rem;
  border: none;
  background-color:#ff8c00;
  margin-right: 7rem;
  border-radius: 25px;
  color: #181717;
  
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.LoginBox{
  height: 100vh;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
/* background-image: url('https://th.bing.com/th/id/R.948376f6d8514aeaa5580deb39013e13?rik=5LVJUIUlfTmf5w&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f4lImLyA.jpg&ehk=2AQZ2jVoiesMErnFGBSxD2RbgdF%2fXjSF88oMXVEHU8o%3d&risl=&pid=ImgRaw&r=0') */
}

.login_img{
   visibility: hidden;
}

.login_img img{
  height: 100%;
  visibility: hidden;
  display: none;
 
}
.Login{
  border: 2px solid rgba(124, 115, 115, 0.589);
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 32.5rem;
  margin-left: 30rem;
  padding: 4rem;
  border-radius: 15px;
     
}



.Login div{
 
  height: 4rem;
  border-radius: 25px;
  
 
 
}
.Profile{
  height: 10rem;
  margin-bottom: 4rem;
 
 
}
.Login input{
  font-size: 1.5rem;
  font-family: monospace;
   height: 4rem;
   width: 25rem;
   border-radius: 25px;
   text-align: center;
}

.Login button{
  border-radius: 25px;
  height: 5rem;
  width: 25rem;
  font-size: 1.5rem;
  font-family: monospace;
}

.signupBox{

  height: 95vh;
  display: flex;
  width: 099vw;
  justify-content: space-around;
  align-content: center;
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/001/227/740/original/abstract-blurred-gradient-mesh-background-vector.jpg") */
/* background-image: url('https://th.bing.com/th/id/R.948376f6d8514aeaa5580deb39013e13?rik=5LVJUIUlfTmf5w&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f4lImLyA.jpg&ehk=2AQZ2jVoiesMErnFGBSxD2RbgdF%2fXjSF88oMXVEHU8o%3d&risl=&pid=ImgRaw&r=0') */
   
}

.signup{
  margin-left: 5rem;
  align-self: center;
  justify-content: center;
  justify-self: center;
  height: 35rem;
  width: 35rem;
  background-color: #e9e6d2d8;
  /* background-image: url('') */
 padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}


.signup div{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
   height:4rem;
  
 }
 
 .signup input{
   height: 100%;
   width:70%;
   text-align: center;
   border-radius: 15px;
   background-color: rgba(246, 253, 254, 0.874);
   font-family: monospace;
   color: black;
 }
 
 .signup button{
   align-self: center;
   justify-self: center;
   width: 19rem;
   margin-top: 1rem;
   height: 3rem;
  
  border-radius: 15px;
   /* border-bottom-right-radius: 35px;
   border-bottom-left-radius: 35px; */
   background-color: #03f654fb;
   font-size: 2rem;
   font-family: monospace
 }
 
 .revBox{
    padding: 1rem;
      height: max-content;
      width: 97vw;
      display: flex;
     
      flex-wrap: wrap;

 }
 .showRev p{
      margin-left: 1rem;
 }
 .showRev{
    border: 2px solid rgb(238, 199, 199);
    border-radius: 10px;
    height: 150px;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-left: 0;
    justify-content: space-evenly;
  
 }

 .showRev button{
     height: 40px;
     width: 100px;
     margin-left: 1rem;
     border: #d5c2c2;
     border-radius: 10px;
     background-color: #18171727;

 }
 
 .ErrorHandle{
   border: 2px solid black;
   height: 10rem;
   width: 97vw;
   margin-left: 1.5rem;
   display: flex;
   border-radius: 30px;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   font-family: monospace;
   margin-top: 5rem;
   background-color: #ba5a9b33;

   
  
 }


 .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width:400px) {
  .Home{
    height:100%;
    width: 100%;
   
   
  
  }
 .logSignbox{
    width:6rem;
    height:3rem;
    justify-content: space-around;
    color:black;
    display:flex;
     flex-direction:row;
  }
  
  .LogSignup{
    height:2rem;
    width:2.8rem;
    font-size: .5rem;
    font-family: monospace;
    text-align:center;
    align-content:center;
    background-color:darkorange;
    border-radius:8px;
  }
  
  .LogSignup:hover{
    
    height:2rem;
    width:2.5rem;
    text-align:center;
    align-content:center;
    background-color:rgb(0, 255, 68);
    border-radius:12px;
  
  }
  *{
   
   
    text-decoration: none;
  
  }
  
  .Lis button{
    visibility: hidden;
  }
  
  .ListingBox::-webkit-scrollbar {
    width: 0px;
    height: 0px;}
  
  
  nav{
  
    height: 4rem;
   
    padding-left: .1rem;
    width: 100%;
   
    margin-top: 0;
    margin: 0;
    display: flex;
    background-color:#eff1f4;
    justify-content: space-between;
    margin-bottom: .5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.009);
    border-radius: 10px;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  }

  .homeicon{
    margin-top: .5rem;
    display: flex;
   
    font-size: 1.3rem;
   
   
  }
  
  nav div{
   
    height: 4rem;
    width: 3rem;
    font-size: .5rem;
    margin: 0 .2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
    align-items: center;
  }
  
  #search{
     width: 12rem;
     height: 3rem;
     font-size: .5rem;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     font-size: 1rem;
  }
  #search input{
    border: none;
    font-family: monospace;
    font-size: .5rem;
    border-radius: 8px;
  }
  .searchIcon{
    font-size: .75rem;
  }
  
  nav div input{
    height: 2rem;
    border-radius:10px ;
    width: 35rem;
    text-align: center;
  }
  
.ListingBox{
  
 height: 100%;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-color: #292727f8; */
 
}


.Lis{
  border: 2px solid rgba(0, 0, 0, 0.033);
 
  margin-top: 3rem;
  height: 26.2rem;
  width: 20rem;
  /* border: 2px solid rgba(0, 0, 0, 0.279); */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 background-color: #e3d5d569;
  font-size: 1rem;
 font-family: monospace;
  margin-bottom: 2rem;
}

.Lis img{
  height: 18rem;
  width: 18rem;

  border-radius: 8px;
}

.Lis p{
 display: flex;
 flex-wrap: wrap; 
 color: green;

}




.review{
 
 padding: 2rem;
 margin-top: 0rem;
 margin-bottom: 4rem;
 height: 10rem;
 width: 97vw;
 border: 2px solid #cdcdecc7;
 border: 2px solid black;
 border-radius: 8px;
 display: flex;
 flex-direction: column;
 font-family: monospace;
 font-size: 1rem;

}

.review input{
    margin-top: 1rem;
    margin-bottom: .75rem;
    font-size: 1rem;
    font-family: monospace;
  
    width: 70%;
    border: none;
    border-bottom: 2px solid #161616;
    
}

.review input:focus{
  border: none;
}

.review button{
  margin-top: 1rem;
  height: 3rem;
  width: 8rem;
  border-radius: 10px;
  margin-right: 2rem;
  border: none;
  font-family: monospace;
  font-size: larger;


}
/* footer */

.review button:hover{
 height: 4rem;
 background-color: #203ccd5d;
 width: 10rem;
 border-radius: 10px;
 margin-right: 2rem;
 border: none;
 font-family: monospace;
 font-size: larger;


}

.operator{
 border-top: 2px solid rgba(184, 135, 11, 0.219);
 height: 5rem;
 width:99%;
  position: fixed;
  margin-left: 0;
 bottom: .2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
 background-color:#18171700;
 
}

.operator button{
 font-family: monospace;
 font-size: .75rem;
 height:3rem;
 border: 2px solid rgba(0, 0, 0, 0.126);
 font-weight: 900;
 border-radius: 12px;
 width: 5.5rem;
 margin-left: 1rem;
 margin-right: 1rem;
 background-color: rgb(250, 244, 244);

}

.operator button:hover{
 height:3rem;
 border: 2px solid rgb(102, 255, 0);
 border-radius: 15px;
 width: 5.5rem;
 margin-left: 1rem;
 margin-right: 1rem;
 background-color:rgb(255, 180, 17);
 font-size: .75rem;

}
.contact{
 visibility: hidden;
 background-color: rgba(237, 221, 221, 0.603);
 height: 20rem;
 width: 100%;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
border: 2px solid rgba(0, 0, 0, 0.019);
border-radius: 10px;
 

 
}
.contact_img{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 20rem;
 margin: 0.7rem;


 width:30% ;
 background-image: url('https://www.asfera.in/assets/images/contact/contact-us.png');
 background-size: contain;
 background-repeat: no-repeat;

}
.contact-info{

 height: 100%;
 margin: .7rem;
 width:48% ;


 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;


}

.profileIcon{
  margin-top: .75rem;
}

.conatact_msg{
 height: 7rem;

 width:100% ;
 /* border-right: 2px solid rgba(0, 0, 0, 0.196); */
 margin: .25rem;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 font-size: 1.25rem;

}
.social-media{
 height: 5rem;
 width: 60%;

 margin: 0.25rem;
 display: flex;
 justify-content: space-around;
 align-items: center;

}
.contact_email{
 height: 2rem ;
 width: 100%;


 margin: 0.25rem;
 display: flex;
 align-items: center;
 justify-content: center;
}

.space{
 height: 2rem;
}

.addLis{
 margin-top: 1rem;
 margin-left: .75rem;
 height: 70rem;
 width: 99%;
 border: 2px solid black;

}

.add-detail{

  height:7rem ;
  width: 49rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-left: 2rem;
  display: flex;
 justify-content: space-around;
 align-items: center;

}
.add-detail input{
 height: 3rem;
 width: 40rem;
 margin-left: 1rem;
 border-radius: 8px;
 border-color: greenyellow;
}
.addLis button{

 height: 3rem;
 width: 8rem;
 border-radius: 10px;
 margin-left: 2rem;
 font-size: 1.5rem;
}

/* listing page */
.lists{
 
  /* padding: 2rem; */
  margin-left: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.lisdetail h1{
   margin-bottom: 1rem;
   font-size: 1.5rem;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-decoration: underline;
   text-decoration-color: #16161610;
   width: max-content;
   border-radius: 15px;
}

.lisdetail h2{
 
   
   font-size: 1.25rem;
   font-family: monospace;
   margin-bottom: 3rem;
}

.lisdetail p{
  font-size: 1.2rem;

 
}

.lisdetail span{
    border: 2px solid rgba(0, 0, 0, 0.026);
    border-radius: 10px;
  

}

.lis_img{
width: 60%;
 
 border-radius: 10px;
 display: flex;
 justify-content: center;
  
}
.lis_img img{
  width: 22rem;
  height: 27rem;
  border-radius: 15px;
 

}
.lisdetail{
 display: flex;
 flex-direction: column;

 width: 100%;
 margin-left: 0;
 margin-top: 1rem;
 
  
}

.btn{
 margin-top: 5rem;
  height: 10rem;

  width:90% ;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn button{
  margin: 0px;
   height: 4rem;
   width: 10rem;
   border: none;
   background-color: rgb(109, 237, 4);
   margin-right: 7rem;
   border-radius: 25px;
 
   color: #181717;
   font-size: 20px;

   font-family: monospace;
}

.btn button:hover{
  margin: 0px;
  height: 4.5rem;
  width: 10rem;
  border: none;
  background-color:#ff8c00;
  margin-right: 7rem;
  border-radius: 25px;
  color: #181717;
  
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

  
}